{% from 'MopaBootstrapBundle::flash.html.twig' import session_flash %}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8" />
    {% block head_style %}
    {% stylesheets filter="cssrewrite" 'bundles/shtumiuseful/css/ui-lightness/jquery-ui-1.8.18.custom.css'
       'bundles/esimedcarlocationbackend/css/chosen.css'
       'bundles/esimedcarlocationbackend/css/bootstrap-responsive.css'
       'bundles/esimedcarlocationbackend/css/bootstrap.css'
       'bundles/esimedcarlocationbackend/css/jquery.dataTables.css'
       'bundles/esimedcarlocationbackend/css/style.css'

    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
    {% endstylesheets %}

    {%- javascripts 'http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'
        'bundles/shtumiuseful/js/jqueryui/jquery-ui-1.8.18.custom.min.js'
        'bundles/esimedcarlocationbackend/js/bootstrap.min.js'
        'bundles/esimedcarlocationbackend/js/jquery.dataTables.min.js'
        'bundles/esimedcarlocationbackend/js/jquery.dataTables.columnFilter.js'
        'bundles/esimedcarlocationbackend/js/chosen.jquery.min.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock head_style %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

{% block head_script %}
{# Overwrite this block to add your own js here, to get them generated into final files #}
{% endblock head_script %}

    <title>{% block title %}Esimed Location de voiture{% endblock %}</title>
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
</head>
<body data-spy="scroll">
{% block body %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="{{path('homepage')}}">
                Location de voiture
            </a>
            <ul class="nav">
                <li>
                    <a href="{{ path('voiture') }}">Gestion du parc</a>
                </li>
                <li><a href="{{ path('client') }}">Gestion des clients</a></li>
                <li><a href="{{ path('location') }}">Gestion des locations</a></li>
            </ul>

            <ul class="nav pull-right">

                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <li><span>{{ app.user.username }}</span></li>
                <li class="divider-vertical"></li>
                <li> <a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a></li>
                {% else %}
                <li><a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>
                {% endif %}

            </ul>
        </div>
    </div>
</div>
{% endblock navbar %}

{% block container %}
<div class="container layout-container">
    <div class="content">
        {% block page_header %}{% endblock page_header %}

        {% block flashes %}
        {{ session_flash() }}
        {% endblock flashes %}


        {% block content %}
        {% endblock content %}

    </div>
    <div class="push"></div>
</div> <!-- /container -->

<footer>
    {% block footer %}
    <div class="container">
        <p><a href="http://www.esimed.fr" target="_blank">Esimed</a> 2012</p>
    </div>

    {% endblock footer %}
</footer>

{% endblock container %}
{% block foot_script %}
{# To only use a subset or add more js overwrite and copy paste this block #}
{% endblock foot_script %}
{% endblock body %}
</body>
</html>



