{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<div>

    {% if error and error == 'Bad credentials' %}
    <div class="alert alert-error">{{ 'security.login.error1'|trans([], 'FOSUserBundle') }}</div>
    {% elseif error %}
    <div class="alert alert-error">{{ error|trans({}, 'FOSUserBundle') }}</div>
    {% endif %}

    <form action="{{ path("fos_user_security_check") }}" method="post" class="form-vertical">


        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />


        <label class="controls" for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" />

        <label class="controls" for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
        <input type="password" id="password" name="_password" />


        <label class="checkbox" for="remember_me">
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" /> {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
        </label>

        <input class="btn btn-primary" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
    </form>
</div>

{% endblock fos_user_content %}
